<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{config.navbar.enable}">
	<f:if condition="{config.navbar.enable} == 'slide'">
		<f:then>
			<nav class="menu{config.navbar.sectionMenu}" role="navigation">
				<ul>
					<f:if condition="{config.navbar.sectionMenu}">
						<f:then>
							<f:if condition="{config.general.company}">
								<li class="nav-item">
									<span>{config.general.company}</span>
								</li>
							</f:if>
							<f:render section="SectionMenu" arguments="{_all}" />
						</f:then>
						<f:else>
							<li class="nav-item">
								<f:render section="Brand" arguments="{_all}" />
							</li>
							<f:render section="Menu" arguments="{_all}" />
						</f:else>
					</f:if>
				</ul>
			</nav>
			<a href="#" class="nav-toggle"><span class="fa fa-bars"></span></a>
		</f:then>
		<f:else>
			<f:if condition="{config.navbar.container}">
				<f:then>
					<f:if condition="{config.navbar.containerposition} == 'inside'">
						<f:then>
							<nav id="main-navbar" class="navbar {config.navbar.class}"{f:if(condition:'{config.navbar.style}',then:' style="{config.navbar.style}"')}
								{f:if(condition:'{config.navbar.sticky}',then:' data-toggle="sticky-onscroll"')}{f:if(condition:'{config.navbar.shrinkColor}',then:' data-shrinkcolorschemes="{config.navbar.shrinkColorschemes}" data-shrinkcolor="{config.navbar.shrinkColor}" data-colorschemes="{config.navbar.colorschemes}" data-color="{config.navbar.color}"')}>
								<div class="{config.navbar.container}">
									<f:render section="NavbarInner" arguments="{_all}" />
								</div>
							</nav>
						</f:then>
						<f:else>
							<div class="{config.navbar.container}">
								<nav id="main-navbar" class="navbar {config.navbar.class}"{f:if(condition:'{config.navbar.style}',then:' style="{config.navbar.style}"')}
									{f:if(condition:'{config.navbar.sticky}',then:' data-toggle="sticky-onscroll"')}{f:if(condition:'{config.navbar.shrinkColor}',then:' data-shrinkcolorschemes="{config.navbar.shrinkColorschemes}" data-shrinkcolor="{config.navbar.shrinkColor}" data-colorschemes="{config.navbar.colorschemes}" data-color="{config.navbar.color}"')}>
									<f:render section="NavbarInner" arguments="{_all}" />
								</nav>
							</div>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<nav id="main-navbar" class="navbar {config.navbar.class}"{f:if(condition:'{config.navbar.style}',then:' style="{config.navbar.style}"')}
						{f:if(condition:'{config.navbar.sticky}',then:' data-toggle="sticky-onscroll"')}{f:if(condition:'{config.navbar.shrinkColor}',then:' data-shrinkcolorschemes="{config.navbar.shrinkColorschemes}" data-shrinkcolor="{config.navbar.shrinkColor}" data-colorschemes="{config.navbar.colorschemes}" data-color="{config.navbar.color}"')}>
						<f:render section="NavbarInner" arguments="{_all}" />
					</nav>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:if>
</html>


<f:section name="NavbarInner">
	<f:if condition="{config.navbar.toggler} == 'left'">
		<f:then>
			<f:render section="Toggler" arguments="{_all}" />
			<f:render section="Brand" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render section="Brand" arguments="{_all}" />
			<f:render section="Toggler" arguments="{_all}" />
		</f:else>
	</f:if>
	<div class="{f:if(condition:'{config.navbar.offcanvas}',then:'offcanvas-')}collapse navbar-collapse{f:if(condition:'{settings.navbar.extraRow}',then:' flex-column')}" id="navbarToggler">
		<f:if condition="{navbarMenu} || {sectionMenu}">
			<f:if condition="{settings.navbar.extraRow}">
				<f:render partial="Page/NavbarExtraRow" arguments="{_all}" />
			</f:if>
			<ul class="navbar-nav{config.navbar.sectionMenu}{config.navbar.justify}{config.navbar.mauto}">
				<f:if condition="{config.navbar.sectionMenu}">
					<f:then>
						<f:render section="SectionMenu" arguments="{_all}" />
					</f:then>
					<f:else>
						<f:render section="Menu" arguments="{_all}" />
					</f:else>
				</f:if>
				<f:if condition="{settings.navbar.feUserName}">
					<f:security.ifAuthenticated>
						<li class="nav-item fe-user">
							<span class="nav-link ml-1"><i class="fas fa-user mr-1"></i> <t3sb:getUsername /></span>
						</li>
					</f:security.ifAuthenticated>
				</f:if>
				<f:if condition="{settings.navbar.extraRow} || {config.navbar.alignment} == 'right'">
					<f:if condition="{config.navbar.searchbox}">
						<f:render partial="Page/Searchbox" arguments="{_all}" />
					</f:if>

					<f:if condition="{languageNavigation} && {config.lang.uid} && {config.lang.hreflang} && {config.lang.title}">
						<f:render section="Language" arguments="{_all}" />
					</f:if>
				</f:if>
			</ul>
			<f:if condition="!{settings.navbar.extraRow} && {config.navbar.alignment} == 'left'">
				<f:if condition="{config.navbar.searchbox}">
					<f:render partial="Page/Searchbox" arguments="{_all}" />
				</f:if>
				<f:if condition="{settings.navbar.searchboxLink} && !{navbarMenuRight.0}">
					<li class="nav-item">
						<f:link.page class="nav-link" pageUid="{settings.navbar.searchboxLink}"><i class="fa-navlink fas fa-search mr-3"></i></f:link.page>
					</li>
				</f:if>

				<f:if condition="{languageNavigation} && {config.lang.uid} && {config.lang.hreflang} && {config.lang.title}">
					<ul id="language_menu" class="navbar-nav{f:if(condition:'{config.navbar.mauto}',then:'{config.navbar.mauto}',else:' ml-auto')}">
						<f:render section="Language" arguments="{_all}" />
					</ul>
				</f:if>
				<f:if condition="{navbarMenuRight.0} && !{config.navbar.justify} && !{config.navbar.mauto}">
					<ul class="navbar-nav ml-auto">
						<f:if condition="{settings.navbar.searchboxLink}">
							<li class="nav-item">
								<f:link.page class="nav-link" pageUid="{settings.navbar.searchboxLink}"><i class="fa-navlink fas fa-search mx-3"></i></f:link.page>
							</li>
						</f:if>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle px-3" id="right-menu" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa-navlink fas fa-info-circle mr-1"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right mt-0" aria-labelledby="right-menu">
								<f:for each="{navbarMenuRight}" as="navbarItem">
									<f:if condition="{navbarItem.spacer}">
										<f:then>
											<span class="nav-link">|</span>
										</f:then>
										<f:else>
											<f:if condition="{navbarItem.children} && {config.navbar.enable} != 'slide'">
												<f:then>
													<f:render section="Dropdown" arguments="{_all}" />
												</f:then>
												<f:else>
													<f:link.typolink class="dropdown-item" parameter="{navbarItem.link}" title="{f:if(condition:'{navbarItem.data.tx_t3sbootstrap_icon_only}',then:'{navbarItem.title}',else:'')}" target="{f:if(condition: '{navbarItem.target}',then: '{navbarItem.target}', else: '_self')}">
														<f:render section="Title" arguments="{item: navbarItem}" />
													</f:link.typolink>
												</f:else>
											</f:if>
										</f:else>
									</f:if>
								</f:for>
	        					</div>
						</li>
					</ul>
				</f:if>
			</f:if>
		</f:if>
	</div>
</f:section>


<f:section name="Brand">
	<f:switch expression="{config.navbar.brand}">
		<f:case value="imgText">
			<f:link.typolink class="navbar-brand mr-0 mr-md-2" parameter="{config.general.homepageUid}">
				<f:render section="BrandImage" arguments="{_all}" />
				{config.general.company}
			</f:link.typolink>
		</f:case>
		<f:case value="image">
			<f:link.typolink class="navbar-brand mr-0 mr-md-2" parameter="{config.general.homepageUid}">
				<f:render section="BrandImage" arguments="{_all}" />
			</f:link.typolink>
		</f:case>
		<f:case value="heading">
			<h1 class="navbar-brand mb-0">{config.general.company}</h1>
		</f:case>
		<f:defaultCase>
			<f:link.typolink class="navbar-brand" parameter="{config.general.homepageUid}">
				{config.general.company}
			</f:link.typolink>
		</f:defaultCase>
	</f:switch>
</f:section>

<f:section name="BrandImage">
	<f:if condition="{config.general.pageTitle} == 'replace'">
		<f:then>
			<h1 class="text-hide m-0 p-0 float-left mr-2" style="background-image: url('/{config.navbar.image}'); width: {settings.navbar.image.width}px; height: {settings.navbar.image.height}px;">
				<f:cObject typoscriptObjectPath="lib.pageTitle"/>
			</h1>
		</f:then>
		<f:else>
			<f:image src="{config.navbar.image}" width="{settings.navbar.image.width}" height="{settings.navbar.image.height}" class="img-fluid{f:if(condition: '{config.navbar.brand} == imgText', then:' d-inline-block align-top')}" />
		</f:else>
	</f:if>
</f:section>

<f:section name="Toggler">
	<button class="navbar-toggler" type="button" data-toggle="{f:if(condition:'{config.navbar.offcanvas}',then:'offcanvas',else:'collapse')}" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
</f:section>

<f:section name="Menu">
	<f:for each="{navbarMenu}" as="navbarItem">
		<li id="nav-item-{navbarItem.data.uid}" class="nav-item{f:if(condition: navbarItem.active, then:' active')}{f:if(condition: navbarItem.children, then:' {config.navbar.dropdown}')}{f:if(condition:'{config.navbar.megamenu} && {navbarItem.data.tx_t3sbootstrap_megamenu} && {navbarItem.data.doktype}==4 && {navbarItem.children}',then:' mega-dropdown')}">
			<f:if condition="{navbarItem.spacer}">
				<f:then>
					<span class="nav-link">|</span>
				</f:then>
				<f:else>
					<f:if condition="{navbarItem.children} && {config.navbar.enable} != 'slide'">
						<f:then>
							<f:render section="Dropdown" arguments="{_all}" />
						</f:then>
						<f:else>
							<f:link.typolink class="nav-link" parameter="{navbarItem.link}" title="{f:if(condition:'{navbarItem.data.tx_t3sbootstrap_icon_only}',then:'{navbarItem.title}',else:'')}" target="{f:if(condition: '{navbarItem.target}',then: '{navbarItem.target}', else: '_self')}">
								<f:render section="Title" arguments="{item: navbarItem}" />
							</f:link.typolink>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</li>
	</f:for>
</f:section>

<f:section name="SectionMenu">
	<f:for each="{sectionMenu.0.content}" as="element">
		<f:if condition="{element.data.header} && {element.data.colPos} != 4">
			 <li id="section-item-{element.data.uid}" class="nav-item">
				<a class="nav-link js-scroll-trigger" href="{page.link}#c{element.data.uid}" target="{page.target}">
					<f:if condition="{element.data.tx_t3sbootstrap_header_sectionMenu}">
						<f:then>
							<span>{element.data.tx_t3sbootstrap_header_sectionMenu}</span>
						</f:then>
						<f:else>
							<span>{element.data.header}</span>
						</f:else>
					</f:if>
				</a>
			 </li>
		</f:if>
	</f:for>
</f:section>

<f:section name="Dropdown">
	<f:if condition="{navbarItem.data.tx_t3sbootstrap_fontawesome_icon}">
		<f:then>
			<a class="nav-link dropdown-toggle" id="dropdown-menu-{navbarItem.data.uid}" href="<f:uri.page pageUid="{navbarItem.link}"/>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="{f:if(condition:'{navbarItem.data.tx_t3sbootstrap_icon_only}',then:'{navbarItem.title}',else:'')}">
				<i class="{navbarItem.data.tx_t3sbootstrap_fontawesome_icon}"></i>{f:if(condition:'{navbarItem.data.tx_t3sbootstrap_icon_only}',else:' {navbarItem.title}')}</a>
		</f:then>
		<f:else>
			<a class="nav-link dropdown-toggle" id="dropdown-menu-{navbarItem.data.uid}" href="<f:uri.page pageUid="{navbarItem.link}"/>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				{navbarItem.title}
			</a>
		</f:else>
	</f:if>
	<f:if condition="{config.navbar.megamenu} && {navbarItem.data.tx_t3sbootstrap_megamenu} && {navbarItem.data.doktype}==4 && {navbarItem.children}">
		 <f:then>
		 	<f:comment> removed by JS if narrower than navbarBreakpoint :: page.jsFooterInline.5.151 ff :: don't remove remove-{navbarBreakpoint} </f:comment>
			<div class="dropdown-menu mega-dropdown-menu remove-{navbarBreakpoint}" aria-labelledby="dropdown-menu-{navbarItem.data.uid}">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{navbarItem.data.uid}', colPos: '0'}"/>
			</div>
		 	<f:comment> removed by JS if wider than navbarBreakpoint :: page.jsFooterInline.5.151 ff :: don't remove show-{navbarBreakpoint} </f:comment>
		 	<div class="dropdown-menu{f:if(condition: navbarItem.data.tx_t3sbootstrap_dropdownRight, then:' dropdown-menu-right')} show-{navbarBreakpoint}" aria-labelledby="dropdown-menu-{navbarItem.data.uid}">
			 	<f:render section="DropdownItem" arguments="{_all}" />
			</div>
		 </f:then>
		 <f:else>
		 	<div class="dropdown-menu{f:if(condition: navbarItem.data.tx_t3sbootstrap_dropdownRight, then:' dropdown-menu-right')}" aria-labelledby="dropdown-menu-{navbarItem.data.uid}">
		 		<f:render section="DropdownItem" arguments="{_all}" />
			</div>
		 </f:else>
	</f:if>
</f:section>

<f:section name="DropdownItem">
<f:for each="{navbarItem.children}" as="child">
	<f:if condition="{child.spacer}">
		<f:then>
			<span class="dropdown-divider"></span>
		</f:then>
		<f:else>
			<f:if condition="{child.children}">
				<f:then>
					<f:render section="Subdropdown" arguments="{child: child, navbarBreakpoint: navbarBreakpoint}" />
				</f:then>
				<f:else>
					<f:link.typolink class="dropdown-item dropdown-item-{child.data.uid}{f:if(condition: child.current, then:' active')}" parameter="{child.link}" title="{f:if(condition:'{child.data.tx_t3sbootstrap_icon_only}',then:'{child.title}',else:'')}" target="{f:if(condition: '{child.target}',then: '{child.target}', else: '_self')}">
						<f:render section="Title" arguments="{item: child}" />
					</f:link.typolink>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:for>
</f:section>

<f:section name="Subdropdown">
	<f:if condition="{child.children}">
		 <f:then>
			<div class="dropdown-submenu">
				<f:link.typolink class="dropdown-item dropdown-toggle dropdown-item-{child.data.uid}{f:if(condition: child.current, then:' active')}{f:if(condition: child.active, then:' parent-active')}" parameter="{child.link}" title="{f:if(condition:'{child.data.tx_t3sbootstrap_icon_only}',then:'{child.title}',else:'')}">
					<f:render section="Title" arguments="{item: child}" />
				</f:link.typolink>
				<div class="dropdown-menu{f:if(condition: '{settings.navbar.subdropdown.twoColumns} <= {f:count(subject: child.children)}' , then:' {navbarBreakpoint}-twoColumns row')}">
					<f:for each="{child.children}" as="grandchild" iteration="iterator">
						<f:if condition="{grandchild.spacer}">
							<f:then>
								<span class="dropdown-divider"></span>
							</f:then>
							<f:else>
								<f:if condition="{grandchild.children}">
									<f:then>
										<f:if condition="{iterator.isFirst} && ({settings.navbar.subdropdown.twoColumns} <= {f:count(subject: child.children)})">
											<div class="col-{navbarBreakpoint}-6 float-none float-{navbarBreakpoint}-left px-0">
										</f:if>
										<f:render section="Subdropdown" arguments="{child: grandchild, navbarBreakpoint: navbarBreakpoint}" />
										<f:if condition="{iterator.isLast} && ({settings.navbar.subdropdown.twoColumns} <= {f:count(subject: child.children)})">
											</div>
										</f:if>
									</f:then>
									<f:else>
										<f:if condition="{settings.navbar.subdropdown.twoColumns} <= {f:count(subject: child.children)}">
											<f:then>
												<f:comment> subdropdown with two columns </f:comment>
												<f:if condition="{iterator.isFirst}">
													<div class="col-{navbarBreakpoint}-6 float-none float-{navbarBreakpoint}-left px-0">
												</f:if>
												<f:render section="GrandchildLink" arguments="{_all}" />
												<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.mathCeil', data: '{iterator.total}/2')} == {iterator.cycle}">
													</div>
													<div class="col-{navbarBreakpoint}-6 float-none float-{navbarBreakpoint}-left px-0">
												</f:if>
												<f:if condition="{iterator.isLast}">
													</div>
												</f:if>
											</f:then>
											<f:else>
												<f:comment> DEFALT - subdropdown with one column </f:comment>
												<f:render section="GrandchildLink" arguments="{_all}" />
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</f:else>
						 </f:if>
					</f:for>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:link.typolink class="dropdown-item dropdown-item-{child.data.uid}{f:if(condition: child.current, then:' active')}" parameter="{child.link}" title="{f:if(condition:'{child.data.tx_t3sbootstrap_icon_only}',then:'{child.title}',else:'')}" target="{f:if(condition: '{grandchild.target}',then: '{grandchild.target}', else: '_self')}">
				<f:render section="Title" arguments="{item: child}" />
			</f:link.typolink>
		</f:else>
	</f:if>
</f:section>

<f:section name="Language">
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" id="language" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<i class="fa-navlink fas fa-globe"></i>
	</a>
	<div class="dropdown-menu dropdown-menu-right mt-0">
		<f:for each="{config.lang.uid}" as="lang" iteration="iterator">
			<f:if condition="{languageNavigation.{iterator.index}.available}">
				<f:then>
					<f:if condition="{languageNavigation.{iterator.index}.active}">
						<f:then>
							<a href="{languageNavigation.{iterator.index}.link}" class="dropdown-item active" hreflang="{config.lang.hreflang.{lang}}" title="{config.lang.title.{lang}}">
								<f:if condition="{settings.navbar.langFlags}">
									<core:icon identifier="{config.lang.flag.{lang}}" size="small" />
								</f:if>
								<span>{config.lang.title.{lang}}</span>
							</a>
						</f:then>
						<f:else>
							<a href="{languageNavigation.{iterator.index}.link}" class="dropdown-item" hreflang="{config.lang.hreflang.{lang}}" title="{config.lang.title.{lang}}">
								<f:if condition="{settings.navbar.langFlags}">
									<core:icon identifier="{config.lang.flag.{lang}}" size="small" />
								</f:if>
								<span>{config.lang.title.{lang}}</span>
							</a>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<span class="dropdown-item text-muted">{config.lang.title.{lang}}</span>
				</f:else>
			</f:if>
		</f:for>
	</div>
</li>
</f:section>

<f:section name="Title">
<f:if condition="{item.data.tx_t3sbootstrap_fontawesome_icon}">
	<f:then>
		<f:if condition="{item.data.tx_t3sbootstrap_icon_only}">
			<f:then>
				<i class="{item.data.tx_t3sbootstrap_fontawesome_icon}"></i>
			</f:then>
			<f:else>
				<i class="{item.data.tx_t3sbootstrap_fontawesome_icon}"></i> {item.title}
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		{item.title}
	</f:else>
</f:if>
</f:section>

<f:section name="GrandchildLink">
<f:link.typolink class="dropdown-item dropdown-item-{grandchild.data.uid}{f:if(condition: grandchild.current, then:' active')}" parameter="{grandchild.link}" title="{f:if(condition:'{grandchild.data.tx_t3sbootstrap_icon_only}',then:'{grandchild.title}',else:'')}" target="{f:if(condition: '{grandchild.target}',then: '{grandchild.target}', else: '_self')}">
	<f:render section="Title" arguments="{item: grandchild}" />
</f:link.typolink>
</f:section>
