<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<main class="main-content">
	<f:if condition="{config.general.pageTitle} == 'content'">
		<f:render partial="Page/Title" arguments="{_all}" />
	</f:if>
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>	
</main>
</html>