// Variables overrides

$primary: 		#1f2844;
$secondary: 	#a0b0c8;
$customOne:		green;
$customTwo:		red;

$navbar-light-background:	#fff;
$navbar-light-color:		#333;
$navbar-light-hover-color:	$primary;
$navbar-light-active-color:	$primary;

$navbar-dark-background:	#000;

$footer-background:			#333;
$footer-color: 				#fff;
$footer-link-color:			#fff;
$footer-link-hover-color:	$secondary;

/*
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:			$gray-800;

$body-bg:		$white;
$body-color:	$gray-900;

$link-color:			theme-color("primary");
$link-decoration:		none;
$link-hover-color:		darken($link-color, 15%);
$link-hover-decoration:	underline;

$text-muted:	$gray-600;

$input-bg:				$white;
$input-disabled-bg:		$gray-200;
$input-color:			$gray-700;
$input-border-color:	$gray-400;

$navbar-dark-color:			rgba($black, .5);
$navbar-dark-hover-color:	rgba($black, .7);
$navbar-dark-active-color:	rgba($black, .9);

$breadcrumb-bg:				$gray-200;
$breadcrumb-divider-color:	$gray-600;
$breadcrumb-active-color:	$gray-600;
$breadcrumb-divider:		"/";
*/
