@import "custom-variables";

@mixin transition($property) { transition: all $property; -webkit-transition: all $property; -moz-transition: all $property; }
@mixin scale($propertyScale) { -webkit-transform: scale($propertyScale); -moz-transform: scale($propertyScale); -ms-transform: scale($propertyScale); -o-transform: scale($propertyScale); transform: scale($propertyScale); }

::-moz-selection { background: $primary; text-shadow: none; color:#FFF; }
::selection { background: $primary; text-shadow: none; color:#FFF; }

body { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
strong { }

h1, h2, h3, h4, h5, h6 { }
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

.text-white {
  h1,h2,h3,h4,h5,h6 { color:#FFF; }
}

.main-content { }

.btn { border-radius:0; text-transform: uppercase; text-decoration: none !important; 
  &:hover { background:none; }
}
.content-image, .content-media { margin-bottom:0; }
button:active, button:focus, a:active, a:focus, .btn-info:active, .btn-info:focus, .btn-primary:active, .btn-primary:focus, .btn-secondary:active, .btn-secondary:focus, .form-control:focus { outline: none !important; box-shadow: none !important; }

.btn-primary { background:$primary !important; border:1px solid $primary !important; color:#333 !important;
  &:hover, &:active, &:focus { background:none !important; border:1px solid $primary !important; color:#333 !important; }
}

.btn-secondary { background:$secondary !important; border:1px solid $secondary !important; color:#FFF !important;
  &:hover, &:active, &:focus { background:none !important; border:1px solid $secondary !important; color:$secondary !important; }
}

#main-navbar { @include transition(0.2s);
  .container-fluid { }
  .navbar-brand {
    img { width:280px; height:auto; }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        &:hover, &:active, &:focus { color:$primary; }
      }
      &:hover { }
    }
    .active {
      .nav-link { color:$primary; }
    }
  }
  .dropdown-menu { border:0; border-radius:0; background:$primary; margin-top:0; padding:0.5em;
    .dropdown-item {
      &:hover, &:active, &:focus { }
    }
    .active { }
  }
}

.navbar-shadow { @include transition(0.2s); border-bottom:1px solid #FFF !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=0, Color=#000000)";/*IE 8*/
  -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.1);/*FF 3.5+*/
  -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 15px 50px rgba(0,0,0,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=135, Color=#000000); /*IE 5.5-7*/

  .navbar-brand {
    img { width:220px; height:auto; }
  }
}

#toggle { display:none; float:right; width:2em; height:15px; margin-top:0; position:relative; z-index:99; display:none; margin-right:1em;
  span { float:left; position:absolute; left:0; top:0; transform: rotate(0deg); width:100%; height:2px; background:$navbar-light-color; margin-top:2px; margin-bottom:2px; transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s;
    &:nth-child(1) { top:0; }
    &:nth-child(2) { top:4px; }
    &:nth-child(3) { top:8px; }
  }
  &:hover { cursor: pointer; }
  &.open span {
    &:nth-child(1) { display:none; }
    &:nth-child(2) { transform: rotate(45deg); top:5px; }
    &:nth-child(3) { transform: rotate(-45deg); top:5px; }
  }
}

#page-wrapper { padding-bottom:0; }

.parallax { min-height:500px; }

#page-footer { }

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .parallax { min-height:200px; }
  #toggle { display:block; }
}

@media (max-width: 768px) {

}

@media (max-width: 720px) {

}

@media (max-width: 576px) {

}