<f:layout name="Default" />
<f:section name="Main">
    <div class="col-md-6">
        {data.tx_gridelements_view_column_0 -> f:format.raw()}
    </div>
    <div class="col-md-6">
        {data.tx_gridelements_view_column_1 -> f:format.raw()}
    </div>
</f:section>