<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{data.tx_mask_header}">
		{data.tx_mask_header} fdfadfadfsdsf<br />
	</f:if>
</f:section>
